@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@500&family=Permanent+Marker&family=Poppins:wght@400;500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(85, 99, 113, 0.75);
}
/* .navbar {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 0 20px 0 20px;
  line-height: 50px;
}
.ticket a{
  position: relative;
  transition: 0.6s;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}
.ticket a:hover{
  border-bottom: 2px solid cyan;
}
.dashboardtitle{
  color: rgba(255, 255, 255, 0.35);
  background-color: #333;
  position: relative;
  font-size: 20px;
}
.dropdown {
  margin-top: 150px;
  float: left;
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.6s;
}
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: black;
  transition: 0.6s;
}
.dropdown-content a:hover {
  background-color: cyan;
}
.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 50px;
}
.plus{
  width: 60px;
  height: 50px;
  padding: 2px 0px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.user{
  right: -20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.title{
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding-bottom: 5px;
  text-decoration: underline cyan;
}
.title:nth-child(1){
  margin-top: 50px;
} */
.nav{
	background: rgba(88, 88, 88);
	width: 100%;
	padding: 10px 0;
	height: 80px;
	position: fixed;
  top: 0;
	margin-bottom: 80px;
}
.navigation{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;	
	padding: 0 20px;
}
.navigation .image{
	height: 60px;
	display: flex;
	justify-content: space-between;
}
.navigation .image h1{
	padding: 15px 10px;
}
.navigation .image img{
	height: 100%
}
.menubar{
	height: 70px;
	width: 130px;
	display: flex;
	justify-content: space-between;
	transition-delay: 0s, 0.6s; 
	position: relative;
	overflow: hidden;
}
.menu{
	position: absolute;
	height: calc(100% - 70px);
	width: 100%;
	margin-top: 70px;
	padding: 20px;
	border-top: 1px solid rgba(164, 164, 164, 0.7);
}
.menubar.active .menu{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}
.menubar .menu li{
	list-style: none;
	transition: 0.3s;
}
.menubar .menu li:hover{
	background: cyan;
	padding: 8px 105px;
}
.menubar.active .menu li a{	
	font-size: 16px;
	text-decoration: none;
	color: #000;
}
.menubar .box{
	position: relative;
	width: 70px;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 10px;
}
.menubar.active .box{
	width: calc(100% - 60px); 
}
.menubar .box #user{
	white-space: nowrap;
	display: none;
}
.menubar.active .box #user{
	display: flex;
}
.menubar .box .box-img{
	position: relative;
	min-height: 50px;
	height: 50px;
	background: #412452;
	border-radius: 50%;
	overflow: hidden;
}
.menubar .box .box-img img{
	height: 100%;
	width: 100%;
}
.menubar.active .box p{
	padding: 5px;
	font-size: 12px;
	margin-right: -20px;
}
.menubar .menutoggle{
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menubar .menutoggle:before{
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: #000;
	transform: translateY(-10px);
	box-shadow: 0 10px #000;
	transition: 0.6s;
}
.menubar .menutoggle:after{
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: #000;
	transform: translateY(10px);
	transition: 0.6s;
}
.menubar.active{
	width: 240px;
	transition: width 0.6s, height 0.4s;
	transition-delay: 0s, 0.4s;
	height: 130px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	background: rgba(220, 220, 220);
	border-radius: 5px 5px 15px 15px;
}
.menubar.active .menutoggle:before{
	transform: translateY(0) rotate(45deg);
	box-shadow: 0 0 #000;
}
.menubar.active .menutoggle:after{
	transform: translateY(0) rotate(135deg);
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-box{
  position: relative;
  width: 350px;
  margin-top: 20px;
}
.form-box i{
    content: "";
	cursor: pointer;
	position: absolute;
	right: 10px;
	transform: translateY(-50%);
    top: 50%;
	font-size: 20px;
	color: rgba(0, 0 , 0, 0.6);
	transition: 0.6s;
	display: block;
}
.form-box i:hover{
  color: rgb(255, 255, 255);
}
form .right-group span i.hide:before{
	content: "\f070";
    color: rgb(26, 26, 26);
}
.form-box input{
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255, 0.45);
  background: rgba(85, 99, 113, .75);
  outline: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.form-box input:hover{
  border: .075rem solid rgb(255, 255, 255, 1);
}
.form-box label{
  position: absolute;
  left: 0;
  padding: 12px;
  pointer-events: none;
  font-size: 14px;
  color: rgb(255, 255, 255, 0.45);
  text-transform: uppercase;
  transition: 0.5s;
}
.form-box input:valid ~ label,
.form-box input:focus ~ label{
  color: cyan;
  transform: translateX(10px) translateY(-7px);
  font-size: 11px;
  padding: 0 10px;
  background: rgba(85, 99, 113, .75);
  border-left: 1px solid cyan;
}
.form-box1{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.form-box1 a{
	line-height: 40px;
	color: #b9edd3;
	text-decoration: none;
}
.form-box1 a:hover{
	color: rgba(220, 255, 237, 0.7);
	border-bottom: 1px solid #35b876;
}
.form-box1 input{
    padding: 10px 50px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.form-box1 input:hover{
  font-weight: 500;
  background: cyan;
}
@media only screen and (max-width: 680px){
  .navbar a{
    font-size: 150% !important;
    text-align: center;
  }
  .dropdown-content a{
    font-size: 80% !important;
  }
}
@media only screen and (max-width: 380px){
  .navbar{
    font-size: 70% !important;
  }
  .form-box{
    width: 320px !important;
  }
  .form-box label{
        font-size: 85% !important;
  }
  .form-box input:valid ~ label,
  .form-box input:focus ~ label{
    color: rgba(85, 99, 113, 1) !important;
    font-size: 75% !important;
    background: rgb(255, 255, 255, 1) !important;
    z-index: 1000;
  }
}